*{
    margin:0;
    padding:0;
}

.jumbotron{
    padding-bottom: 65px;
}

.container-fluid{
    width:59.5%;
}

.display-4{
    font-size:72px;
}

.container-fluid p{
    width:99%;
}

.lead{
    margin-top:15px;
}

img{
    width:12px;
    margin-left:5px;
}

.btn-secondary img{
    width:10px;
    margin-left:3px;
}

.container .lead{
    font-size:16px;
    font-weight:400;
}