

.top-col {
    height: 60px;
    text-align: center;
}

.jumbotron {
    background-color: white;
}

.navbar-brand {
    background-color:slateblue;
    border-radius: 5px;
    box-shadow: 2px 2px darkolivegreen;
}

.navbar-nav {
    background-color: plum;
    border-radius: 5px;
    box-shadow:2px 2px darkolivegreen;
}



.btn-warning {
    background-color: springgreen;
    border-color: turquoise;
    margin: 0 0 20px 0;
}

.display-4 {
    font-size: 85px;
}

